.App {
    background-color: #865DFF;
    padding: 10px 25px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 2px 2px 10px rgba(0,0,0,0.6);

    @media (max-width: 768px){
        padding: 10px 15px;
    }

    .Title{
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            margin: 10px 0px;
            color: #f0f0f0;
            font-size: 2.5rem;
            font-weight: 600;
            margin-bottom: 20px;
            text-align: center;
            text-shadow: 0px 0px 10px rgba(0,0,0,0.5);

            @media (max-width: 768px){
                font-size: 2rem;
            }
        }
    }

    .AddTask{
        display: flex;
        input{
            height: 100%;
            width: 100%;
            padding: 10px 15px;
            border-radius: 5px 0px 0px 5px;
            border: none;
            outline: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: #272829;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.6);

            &::placeholder{
                color: #272829;
                font-weight: 500;
            }


            @media (max-width: 768px){
                font-size: 1rem;
            }

        }

        button{
            height: 100%;
            padding: 10px 15px;
            border-radius: 0px 5px 5px 0px;
            border: none;
            outline: none;
            font-size: 1.2rem;
            font-weight: 500;
            color: #f0f0f0;
            background-color: #272829;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
            cursor: pointer;

            &:active{
                scale: 1.05;
            }

            @media (max-width: 768px){
                font-size: 1rem;
            }
        }
    }
}